mat-sidenav-container {
  height: 100vh;
  background-color: #DDF6D5 !important;
  position: relative; 
}

.header-container {
  display: flex;
  align-items: center;
  background-color: #D6F2BA; 
  border-radius: 10px;
}

.toggle-button {
  margin-right: 10px;
}

.sidebar-title {
  background-color: #D6F2BA; /* Màu nền giống sidebar */
  color: #333; /* Màu chữ */
  font-size: 25px; /* Kích thước chữ */
  font-weight: bold; /* Đậm chữ */
  text-align: center; /* Căn giữa chữ */
  transition: opacity 0.3s; /* Hiệu ứng chuyển đổi mượt mà */
  text-wrap: nowrap;
}

mat-sidenav {
  width: 200px;
  background-color: #D6F2BA !important;
  padding-top: 10px;
}

mat-sidenav-content {
  margin-left: 200px !important;
  padding-left: 10px;
}

::ng-deep .mat-drawer-inner-container {
  color: black !important;
}

.toggle-button {
  background-color: #D6F2BA !important;
  margin-right: 5px;
  width: 30px; /* Chiều rộng của nút */
  height: 30px; /* Chiều cao của nút */
  font-size: 24px; /* Kích thước font của icon */
  padding: 2px; /* Khoảng cách bên trong nút */
}

.toggle-button mat-icon {
  background-color: #D6F2BA !important;
  font-size: 24px; /* Kích thước icon */
}

.header-container-app{
  width: 100%;
}


.hiden-side-bar{
  mat-sidenav {
    width: 70px;
    padding-top: 10px;
  }
}


.hiden-side-bar mat-sidenav-content {
  margin-left: 70px !important;
}


/* Responsive CSS */
@media (max-width: 1024px) {
  .sidebar-title {
    font-size: 20px;
  }
  mat-sidenav {
    width: 150px;
  }
  mat-sidenav-content {
    margin-left: 150px !important;
  }

  .toggle-button {
    margin-right: 3px;
    width: 25px; /* Chiều rộng của nút */
    height: 25px; /* Chiều cao của nút */
    font-size: 20px; /* Kích thước font của icon */
    padding: 0.5px; /* Khoảng cách bên trong nút */
  }
  
  .toggle-button mat-icon {
    font-size: 20px; /* Kích thước icon */
  }

  .hiden-side-bar mat-sidenav {
    width: 50px;
  }
  .hiden-side-bar mat-sidenav-content {
    margin-left: 50px !important;
  }
}

@media (max-width: 768px) {
  .sidebar-title {
    font-size: 12px;
  }
  mat-sidenav {
    width: 100px;
  }
  mat-sidenav-content {
    margin-left: 100px !important;
    padding-left: 2px;
  }
  .toggle-button {
    margin-right: 3px;
    width: 25px; /* Chiều rộng của nút */
    height: 25px; /* Chiều cao của nút */
    font-size: 20px; /* Kích thước font của icon */
    padding: 0.5px; /* Khoảng cách bên trong nút */
  }
  
  .toggle-button mat-icon {
    font-size: 20px; /* Kích thước icon */
  }
  .hiden-side-bar mat-sidenav {
    width: 30px;
  }
  .hiden-side-bar mat-sidenav-content {
    margin-left: 30px !important;
  }
}

@media (max-width: 480px) {
  .sidebar-title {
    font-size: 10px !important;
    margin-left: -15px;
  }
  mat-sidenav {
    width: 70px;
  }
  mat-sidenav-content {
    margin-left: 70px !important;
  }
  .sidebar-title {
    font-size: 20px;
  }
  .hiden-side-bar mat-sidenav {
    width: 30px;
  }
  .hiden-side-bar mat-sidenav-content {
    margin-left: 30px !important;
  }
}
