*{
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    height: 100vh; /* Thiết lập chiều cao 100% của viewport */
    overflow: hidden;
  }
  
  .sidebar {
    width: 230px; /* Độ rộng của sidebar */
    height: 100%;
    padding: 0px; /* Khoảng cách lề bên trong của sidebar */
    display: flex;
    justify-content: center;

  }

  .sidebar-menu{
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    background: #D6F2BA;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.08);
  }
  
  .content {
    flex: 1; /* Tự mở rộng để lấp đầy không gian còn lại */
    padding: 5px; /* Khoảng cách lề bên trong của nội dung */
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .content-header{
    width: auto;
    height: 91px;
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .content-header-icon{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-header img{
    width: 35px;
    height: 35px;
    padding-right: 15px;
    padding-left: 10px;
  }
  .content-title{
    background: #D6F2BA;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .content-title h1{
    width: 100%;
    height: 100%;
    color: #221824;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 50px;
    display: flex;
    align-items: center;
  }
  .content-body {
    flex: 1;
    overflow-y: auto;
  }
  .hidden-sidebar {
    width: 80px; /* Độ rộng của sidebar */
    padding: 5px; /* Khoảng cách lề bên trong của sidebar */
    border-top-right-radius: 5px;
    padding-top: 91px;
  
  }   
  
  .hidden-header{
    position: absolute;
    left: 0;
    width: 100%;
    background: #D6F2BA;
    padding-left: 10px;
  }

  .hidden-body{
    padding-top: 100px;
  }   

  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100px; /* Độ rộng của sidebar */
      height: 100%;
    }
  
    .sidebar-menu{
      width: 100%;
      height: 100%;
      padding: 5px; /* Khoảng cách lề bên trong của sidebar */
      border-top-right-radius: 30px;
    }

    .content {
      padding-left: 5px;
    }
    .content img{
      height: 20px;
      width: 20px;
    }

    .content-header{
      height: 50px;
    }

    .content-header-icon{
      width: 5%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .content-header img{
      width: 15px;
      height: 15px;
    }


    .content-title{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

    }

    .content-title h1{
      font-size: 22px;
      font-weight: 600;
      padding-left: 10px;
    }

    .hidden-sidebar {
      width: 30px; /* Độ rộng của sidebar */
      padding: 5px; /* Khoảng cách lề bên trong của sidebar */
      border-top-right-radius: 5px;
      padding-top: 50px;
    
      .sidebar-menu{
        border-top-right-radius: 10px;
      }
    }   
    
    .hidden-header{
      position: absolute;
      left: 0;
      width: 100%;
      background: #D6F2BA;
      padding-left: 10px;
      
    }
    .hidden-body{
      padding-top: 60px;
    }
  }
  