<mat-sidenav-container [ngClass]="{'hiden-side-bar': !isExpanded}">
  <mat-sidenav mode="side" opened>
    <div class="sidebar-title" *ngIf="isExpanded">Thắm Class</div>
    <app-sidebar [isExpanded]="isExpanded"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header-container">
      <button mat-icon-button (click)="toggleSidebar()" class="toggle-button">
        <mat-icon>{{ isExpanded ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <app-header class="header-container-app"></app-header>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
